@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-dark-color:#1d69a3;
    --padding-inline-selection: 20px;
}

body{
    font-family: 'Poppins' , sans-serif;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

h2{
    font-size: 2rem;
    color: var(--primary-text-color);
}
h3{
    font-size: 1.5rem;
    color: var(--primary-text-color);
}
p{
    font-size: 1.25rem;
    font-family: 'Roboto' , sans-serif;
    Color:var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}
/* Utility classes*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-selection);
    overflow: hidden;  
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 300;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-btn:hover{
    background-color: var(--accent-dark-color);
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 300;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.5s ease-out;
}
.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* Top Banner*/
.top-banner{
    background-color: #4fb3d4;
    background-image: url('./assets/asset\ 32.png');
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* Nav bar */
.main-nav{
  margin-top: 20px;
  justify-content: space-between;
  position: relative;
}
.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-toggle{
    display:none
}

/*Header Section*/

header{
    padding: 50px var(--padding-inline-selection);
}
.header-section{
    justify-content: center;
    gap: 70px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;

}
.header-right img{
    width: 100%;
}
.get-started-btn{
    margin-top: 40px;
    padding-inline: 50px;
}

/* Companies Header */

.companies-header{
    text-align: center;
    font-weight: 500;
    margin-block: 30px ;

}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 46px;
}

/* Features Section */

.features-section{
    padding: 80px var(--padding-inline-selection) 0;
    background-image: url(./assets/asset\ 41.png);
    background-position: center;
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-header h2{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    width: 60px;
}

/* Big Feature Section */

.big-feature-section{
    padding: 30px var(--padding-inline-selection) 0;
}

.big-feature-container{
    gap: 70px;
}

.feature-image img{
    width: 100%;
}

.feature-description{
    flex-direction: column;
    align-items: flex-start;

}
.feature-top-heading{
    font-weight: 500;
    color: var(--primary-text-color);
}
#second-big-feature-section{
  flex-direction: row-reverse;
}

/* examples section*/
.example-section{
    padding:80px var(--padding-inline-selection);
}
.examples-header{
  flex-direction: column;
  gap: 20px;
}

.examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(./assets/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.3s ease-out;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

.examples-card:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(./assets/asset\ 36.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(./assets/asset\ 38.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(./assets/asset\ 39.jpeg);
    background-size: cover;
}
.card-text{
    position: absolute;
    bottom:30px ;
    left: 20px;
    right: 20px;
    color: white;
}
.examples-area{
    justify-content: space-between;
    margin-block:30px ;
    flex-wrap: wrap;
}

/* cta section */

.cta-section-container{
    flex-direction: column;
    gap: 30px;
}
.cta-section-container h2{
    color: white;
}
.cta-section-container p{
    color: white;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-selection) 80px;
}

/* Footer Section */

footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;

}


/* Sub footer */

.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-selection);
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

















